@import "../../../Components/app.scss";

.book-img {
  height: 80px;
  width: 56px;
  margin-bottom: 0;
}

.default-img {
  height: 30px;
  width: 30px;
}

.notifications-container {
  box-shadow: 0px 5px 20px 0 $grey;
  position: absolute;
  right: 160px;
  top: 70px;
  width: 323px;

  &.theme-light {
    background: white;
  }

  &.theme-dark {
    background: black;
  }
}

.notification {
  border: solid 1px $grey;
  display: flex;
  padding: 23px 14px;
  height: auto;
}

.notification:hover {
  background: lightblue;
}

.data-container {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.book-status {
  color: $grey-font;
  font-size: $font-size-medium;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 7px;
}

.book-title {
  font-size: $font-size-medium;
  font-weight: bold;
  margin-bottom: 5px;

  &.theme-light {
  }

  &.theme-dark {
    color: white;
  }
}

.book-author {
  color: $grey-font;
  font-size: $font-size-medium-small;
}
