@import "../../../Components/app.scss";

.dropdown-container {
  background: white;
  box-shadow: 0px 5px 20px 0 $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  right: 40px;
  top: 70px;
  width: 160px;
}

.dropdown-option {
  align-items: center;
  border: solid 1px $grey;
  display: flex;
  font-size: $font-size-medium;
  height: 30px;
  padding-left: 10px;
}

.dropdown-option:hover {
  background: lightblue;
}
