@import "../../../Components/app.scss";

.book-detail-wishlist-button {
  background-color: $green;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: auto;
  height: 38px;
  width: 192px;
}
