* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0; }
  h1:focus,
  h2:focus,
  h3:focus,
  h4:focus,
  h5:focus,
  h6:focus,
  p:focus,
  span:focus,
  label:focus,
  input:focus,
  a:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  table-layout: fixed; }

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  background: transparent;
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #000;
    text-decoration: none; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

::placeholder {
  color: #999;
  opacity: 1; }

.comment-image {
  border-radius: 20px;
  height: 40px;
  margin-right: 16px;
  width: 40px; }

.send-comment-button {
  background-color: #a5cd39;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  height: 38px;
  width: 192px; }

.comment-container {
  display: flex;
  padding: 0 35px; }
  .comment-container .comment-subcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
    .comment-container .comment-subcontainer .comment-title {
      margin-bottom: 16px; }
    .comment-container .comment-subcontainer .comment-textarea {
      border: solid 1px black;
      margin-bottom: 16px;
      width: 100%; }
    .comment-container .comment-subcontainer .comment-name {
      margin-bottom: 10px; }
    .comment-container .comment-subcontainer .comment-date {
      color: #9b9b9b;
      font-size: 10px;
      margin-bottom: 11px; }
    .comment-container .comment-subcontainer .comment-text {
      color: #9b9b9b;
      font-size: 14px; }

.green-title {
  color: #a5cd39;
  margin-bottom: 16px; }
