.tech-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "tech-a tech-b tech-c"
    "tech-a tech-d tech-e";
}

.container-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 70px;
  padding: 0 70px;
}

.tech-1 { 
  border-right: solid 2px $green;
  display: flex;
  align-items: center;
  grid-area: tech-a;
}

.tech-2 { 
  grid-area: tech-b;
}

.tech-3 { 
  grid-area: tech-c;
}

.tech-4 { 
  grid-area: tech-d;
}

.tech-5 { 
  grid-area: tech-e;
}

.tech-6 { 
  border-right: solid 2px $green;
  display: flex;
  align-items: center;
  grid-area: tech-a;
}

.tech-7 { 
  grid-area: tech-b
}

.tech-8 { 
  grid-area: tech-c
}

.tech-9 { 
  grid-area: tech-d;
}

.tech-grid {
  display: flex;
  flex-direction: column;
  height: 360px;
  align-items: center;
  margin: 0 30px 30px 0;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  width: 220px;

  .tech-icon {
    height: $tech-logo-size;
    margin-bottom: 20px;
    width: $tech-logo-size;
  }

  .tech-title {
    font-size: $text-medium;    
    margin-bottom: 20px;
  }

  .tech-release {
    font-size: $text-small;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .tech-info {
    font-size: $text-small;
    line-height: $text-small + 8px;
  }
}
