.title {  

  &:before {
    content: '';
    background-image: url('./assets/triangle.svg');
    background-repeat: no-repeat;
    height:	$title-decoration-height;
    position: absolute;
    width: $title-decoration-width;
  }

  span {
    font-size: $text-big;	
    margin: 40px 0 0 50px;
    position: relative;
  }
}

